<!-- Under Construction -->



<!DOCTYPE html PUBLIC>
<head>
<script type="text/javascript" src="/public/js/widgEditor.js"></script>
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-2120330-1']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
<link rel="stylesheet" href="/css/widgEditor.css" />
<link rel="stylesheet" href="/css/widgEditor.css" />
</head>
<body>
	<!-- END experimentInfo -->
		<p>
			<a href="http://code.google.com/p/widgeditor/downloads/list">Download the most recent widgEditor files at its Google Code page</a>.
		</p>
		<form action="#" onsubmit="alert('Your submitted HTML was:\n\n' + document.getElementById('noise').value); return false;">
			<fieldset>
				<label for="noise">
					Make some noise:
				</label>
				<textarea id="noise" name="noise" class="widgEditor nothing">&lt;p&gt;widgEditor &lt;strong&gt;automatically&lt;/strong&gt; integrates the content that was in the textarea!&lt;/p&gt;</textarea>
			</fieldset>
			<fieldset class="submit">
				<input type="submit" value="Check the submitted code" />
			</fieldset>
		</form>
	</div>
<!-- END content -->
</body>
</html>
<!-- document.getElementById('noise').value) -->