<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Admin Panel</title>
    <meta charset="utf-8" />
    <link rel="icon" href="/logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Gupter|Solway|Ubuntu&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/css/admin-css.css" />
  </head>
  <body>
    <div id="fb-root"></div>
    <script
      async
      defer
      crossorigin="anonymous"
      src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v5.0&appId=498101864161683&autoLogAppEvents=1"
    ></script>
    <div class="container">
      <div class="row">
        <div class="facebook-admin col-lg-7 col-md-7 col-12">
          <div class="sk-ww-facebook-feed" data-embed-id="32571"></div>
          <script src="https://www.sociablekit.com/app/embed/facebook-feed/widget.js"></script>
        </div>
        <div class="facebook-admin col-lg-5 col-md-5 col-12">
          <!-- Facebook Official Iframe -->
          <!-- <iframe
            src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2F103412397844392&width=750&colorscheme=light&show_faces=true&border_color&stream=true&header=true"
            scrolling="yes"
            frameborder="0"
            style="height:100vh; width:100%; background: white;"
            allowTransparency="true"
          >
          </iframe> -->
          <div
            class="fb-page"
            data-href="https://www.facebook.com/Spaarks-103412397844392/"
            data-tabs="timeline"
            data-width="500"
            data-height="1000"
            data-small-header="false"
            data-adapt-container-width="true"
            data-hide-cover="false"
            data-show-facepile="false"
          >
            <blockquote
              cite="https://www.facebook.com/Spaarks-103412397844392/"
              class="fb-xfbml-parse-ignore"
            >
              <a href="https://www.facebook.com/Spaarks-103412397844392/"
                >Spaarks</a
              >
            </blockquote>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="sk-instagram-feed" data-embed-id="32588"></div>
        <script src="https://www.sociablekit.com/app/embed/instagram-feed/widget.js"></script>
      </div>
    </div>
  </body>
</html>
