<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SocialPage</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="OSOS technologies, OSOSweb, OSOS Pvt. Ltd., OSOS Private Limited,  OSOS, Social Media, Blogs, Articles, We are hiring, Hiring, Hiring now, Jobs for freshers, Freshers, Hiring android developers, android, android developers, hiring ios app developers, ios app developers, ios, angular, node js, DevOps, AWS, Hyderabad, Social Networking, Careers, Hire, Work with us, SpaarksBytes, Banjara Hills, Jobs in Hyderabad, jobs, technology.">
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="/img/log2.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/css-style.css" />
    <link rel="stylesheet" href="/css/css-mobile.css" />
  </head>
  <style>
  @media only screen and (max-width: 500px) {
  
    .fb-page, 
    .fb-page span, 
    .fb-page span iframe[style] { 
        width: 100% !important; 
    }
    
   
  }
</style>
  <body>
    <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v5.0"></script>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg bg-light">
      <!-- Brand -->
      <a class="navbar-brand" href="/"
        ><img src="/ososicon.png" alt="Logo"
      /></a>
      <!-- Toggler/collapsibe Button -->
      <button
        class="navbar-toggler collapsed"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <!-- <div class="animated-icon1">
       
        </div> -->
        <span class="icon-bar top-bar"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span>
      </button>
      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blogs/1">SpaarksBytes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/social">Social</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/career">Careers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- end of navbar -->
    <!-- page -->
    <br />
    <div id="pagesocial" class="container">
      <div class="col-lg-6 col-md-6 col-12 twitter ">
      <div class="row justify-content-center">
        <div class="fb-page" data-href="https://www.facebook.com/Spaarks.Smiles/" data-tabs="timeline" data-width="500" data-height="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/Spaarks.Smiles/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Spaarks.Smiles/">Spaarks</a></blockquote></div>
     <div style="width: 50px;height: 30px;">
     </div>
        
          <a class="twitter-timeline" data-width="500" data-height="500" data-theme="light" href="https://twitter.com/Spaarks_Smiles?ref_src=twsrc%5Etfw">Tweets by Spaarks_Smiles</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
     
      
      <ul class="socialmedia-icons">
        <li>
          <a
            href="https://twitter.com/Spaarks_Smiles"
            style="text-decoration: none;"
            ><i class="fa fa-twitter" aria-hidden="true"></i
          ></a>
        </li>
        <li>
          <a
            href="https://www.instagram.com/spaarks_smiles/"
            style="text-decoration: none;"
            ><i class="fa fa-instagram" aria-hidden="true"></i
          ></a>
        </li>
        <li>
          <a
            href="https://www.facebook.com/Spaarks-103412397844392/"
            style="text-decoration: none;"
            ><i class="fa fa-facebook-official" aria-hidden="true"></i
          ></a>
        </li>
        <li>
          <a
            href="https://www.quora.com/profile/Spaarks"
            style="text-decoration: none;"
            ><i class="fa fa-quora" aria-hidden="true"></i
          ></a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/company/spaarks-smiles/"
            style="text-decoration: none;"
            ><i class="fa fa-linkedin-square" aria-hidden="true"></i
          ></a>
        </li>
       
        
      </ul>
    </div>
    <!-- end of page -->
    <br /><br />
    <p class="text-center copyright">
      Copyright &copy;
      <script>
        document.write(new Date().getFullYear());
      </script>
      All rights reserved . OSOS PVT LTD.
    </p>
  </body>
  <script>
    $(document).ready(function() {
      $(".first-button").on("click", function() {
        $(".animated-icon1").toggleClass("open");
      });
    });
    $(document).ready(function() {
      fetch("http://localhost:9000/fetchtext")
        .then(resp => resp.json())
        .then(function(obj) {
          console.log(obj);
          var text = obj.qtext;
          document.getElementById("qtext").innerHTML = text;
        });
    });
  </script>
  <script
    async
    src="https://platform.twitter.com/widgets.js"
    charset="utf-8"
  ></script>
  <div id="fb-root"></div>
  <script
    async
    defer
    crossorigin="anonymous"
    src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v5.0"
  ></script>
</html>
<!--instragram access token :8413750173.1677ed0.9d75aaf017214b2c8a403454727dfb7a -->















