@media only screen and (min-width: 992px) {
  #page1 {
    height: 80vh;
    margin-top: 0.15vw;
  }
  #page {
    display: none;
  }
}
* {
  font-family: "Ubuntu", sans-serif;
}
#page1 .card-text {
  font-size: 1vw;
}
.rs {
  border-right: 1px dotted white;
}

body {
  overflow-x: hidden;
}
.nav-item {
  margin-right: 25px;
  padding: 10px;
}
.nav-link {
  color: black;
}
.nav-item:hover {
  background: #b68dc4;
  border-radius: 30px;
}
.nav-link:hover {
  color: white !important;
}
/* #page1 {
  height: 100vh !important;
} */
#page1 {
  height: 80vh !important;
}
#page1 .card {
  /* box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25); */
  border-radius: 5px;
  z-index: 1000;
}
#abtparent {
  box-shadow: 5px 10px 20px 10px rgb(129, 128, 128) inset;
}
#page1 .card h4 {
  font-size: 35px;
  margin: 30px 0;
  text-align: center;
}
#page1 #osos1 {
  /* font-size:150px;font-weight: bolder;color:white;position: absolute;left: 50px;margin-top: -58px; */
  height: 36vw;
  width: auto;
  position: absolute;
  margin-top: -13vw;
}
#img1 {
  height: 300px;
  width: 600px;
  position: absolute;
  left: -30px;
  top: 100px;
}
#img1:hover,
#osos1:hover {
  transform: scale(1.005);
}
.col-social {
  margin-left: -3vw;
  margin-top: 30vh;
}
#page1 .social {
  background: #b6e47a;
  border-radius: 116px;
  position: fixed;
  left: 30px;
  top: 150px;
  padding: -10px;
}
#page1 .social i {
  transform: scale(1.65);
  color: #666666;
  display: block;
  margin: 20px 0;
}
#page2 {
  /* background: #f1f1f1; */
  /* height: 100vh !important; */

  padding-top: 80px;
}
#page2 .card {
  padding: 30px;
  background-color: transparent;
  border: none;
}
#page2 .icons {
  transform: translateY(30px);
}
#page2 .card-img-top {
  height: 130px;
  width: 120px;
  border-radius: 75%;
  margin-top: 25px;
  transform: translateY(20px);
  box-shadow: 1px 2px 1px rgb(97, 96, 96);
}
#page2 .icons i {
  padding: 0 10px;
  transform: scale(1.2);
  color: #666666e1;
}
.teamdet .memInfo {
  display: visible;
  font-size: 15px !important;
}
.fparas {
  color: rgb(59, 59, 59);
  position: absolute;
  font-size: 70px;
  letter-spacing: 1px;
  font-weight: 600;
  left: 50px;
  top: -50px;
}
#page3 {
  /* background:#a9da68; */
  height: 100vh !important;
  padding-bottom: 70px;
  /* background: rgb(206, 250, 147); */
}
#page4 .mid {
  transform: scale(1.1);
}
footer {
  background: #5a5a5a;
  padding: 30px;
}
footer h5 {
  color: white;
  font-weight: 500;
  text-align: center;
}
footer a {
  text-decoration: none;
  color: white;
  font-size: 12px;
  display: block;
  padding-left: 41%;
}

footer a:hover {
  color: white;
  text-decoration: none;
}

footer .contact a {
  font-size: 15px;
  padding-left: 25%;
  margin-bottom: 10px;
}

.carrers {
  padding-left: 50px;
}

.rs i {
  transform: scale(1.3);
  padding-right: 20px;
}

.carousel i {
  font-size: 2.5vw;
}

.media {
  background: #b6e47a;
  width: 3.85vw;
  border-radius: 116px;
  position: fixed;
  right: 3vw;
  bottom: 3vw;
  z-index: 99999;
}

.media i {
  transform: scale(1.65);
  color: #666666;
  padding: 0 auto;
  display: block;
  margin: 20px 0;
}

.carouse-inner {
  display: inline-block;
}
/* page 5 CSS */
#page5 {
  margin-top: 10vh;
  margin-bottom: 10vh;
}
#page5 .xop-section {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.3;
  margin: 4em;
}
.project {
  display: block;
  width: 100%;
  text-decoration: none;
  margin: 1em 0;
  cursor: pointer;
}
figure {
  margin: 0;
  padding: 0;
}
.project figure img {
  width: 100%;
  display: block;
  object-fit: cover;
  height: 300px;
}
.project figcaption {
  padding: 1em;
  background: #966116;
  color: #fff;
}
.project h3 {
  color: white;
  margin: 0;
}
.cta {
  margin: 0.5em 0;
}
.cta:after {
  display: inline-flex;
  margin: 0 0 0.5em 0.5em;
}

.xop-wrapper {
  max-width: 960px;
  margin: 0 auto;
}
.xop-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
}
.project:nth-child(1) {
  grid-column: 1 / span 3;
}
.project {
  width: 100%;
  height: 300px;
  text-decoration: none;
  margin: 0;
}
.project figure {
  position: relative;
  overflow: hidden;
}
.project figure img {
  position: relative;
  z-index: 999;
  transition: transform 0.4s;
}
.project figure:hover img {
  transform: translateY(-90px);
}

.project figcaption {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px;
  height: 90px;
  width: 100%;
}

.flex-container {
  display: flex;
  align-items: stretch;
}

.flex-container > div {
  background-color: DodgerBlue;
  color: white;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
.one {
  height: 35vh;
}
.flex {
  margin: 0px;

  padding-bottom: 5px;
  margin-bottom: 5px;
}
